.maininfo {
    background-color:darkgrey;
    padding: 15px 15px 30px 15px;
}

h1 {
    display: block;
    position:relative;
    text-align: center;
    height: auto;
    width: auto;
}

/* Unedit the border comments to see borders*/

.maininfo table {
    /* border: 1px solid black; */
    border-collapse: separate;
    border-spacing: 50px;
}

.maininfo table tr td {
    /* border: 1px solid black; */
    padding: 30px 0px;
}

.maininfo table tr td img {
    width: 100px;
    height: auto;
    padding-right: 15px;
} 

.maininfo .information {
    text-align: left;
    width: 100%;
    background-color: aliceblue;
    border-radius: 15px;
    padding-left: 15px;
    font-size: 32px;
    margin: 5px;
}